.game-box {
  width: calc(50% - 18px);
  padding: 4px;
  margin-bottom: 16px;
  text-align: center;
}

.game-teams-box {
  justify-content: space-between;
}

@media (max-width:600px)  {
  .game-box {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px;
  }
}

